.image-container_trip {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 999;
}

.image-container_trip img {
  border-radius: 2%;
  width: 50px;
  /*Ajustaeltamañodelaimagensegúntusnecesidades*/
  height: auto;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  -ms-border-radius: 2%;
  -o-border-radius: 2%;
}

.content_trip {
  padding-right: 120px;
  /* Ajusta el espacio para que el contenido no se solape con la imagen */
}