.image-container_trip {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 999;
}

.image-container_trip img {
  border-radius: 50%;
  width: 100px;
  /* Ajusta el tamaño de la imagen según tus necesidades */
  height: 100px;
}

.content_trip {
  padding-right: 120px;
  /* Ajusta el espacio para que el contenido no se solape con la imagen */
}